/* cabin-regular - latin */
@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/cabin-v26-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/cabin-v26-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/cabin-v26-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/cabin-v26-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/cabin-v26-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/cabin-v26-latin-regular.svg#Cabin') format('svg');
    /* Legacy iOS */
}